<div class = "container">
  <h1>Preloader Style</h1>
    <div class="preloader-wrapper big active">
     <div class="spinner-layer spinner-blue-only">
       <div class="circle-clipper left">
         <div class="circle"></div>
       </div><div class="gap-patch">
         <div class="circle"></div>
       </div><div class="circle-clipper right">
         <div class="circle"></div>
       </div>
     </div>
    </div>
    <p>
    <h1>Flashing colors</h1>
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue">
          <div class="circle-clipper left">
            <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
        </div>
      </div>
      <p>
      <h1>Linear</h1>
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </div>
    <p>
    <div class = "container" id = "navbar">
          <!-- Dropdown Structure -->
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
      </ul>
      <nav>
        <nav class ="light-blue">
          <div class="nav-wrapper">
            <a href="#!" class="brand-logo">Logo</a>
            <ul class="right hide-on-med-and-down">
              <li><a href="sass.html">Sass</a></li>
              <li><a href="badges.html">Components</a></li>
              <!-- Dropdown Trigger -->
              <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
          </div>
        </nav>
      </nav>
    </div>
    <p>
    <div class = "container">
      <h1>Breadcrumbs</h1>
      <nav>
        <div class="nav-wrapper">
          <div class="col s12">
            <a href="#!" class="breadcrumb">First</a>
            <a href="#!" class="breadcrumb">Second</a>
            <a href="#!" class="breadcrumb">Third</a>
          </div>
        </div>
      </nav>
    </div>
    <p>
    <div class = "container">
      <h1>Cards</h1>
          <div class="row">
            <div class="col s12 m6">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">Card Title</span>
                  <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                  <a href="#">This is a link</a>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class = "container">
      <h1>Card Reveal</h1>
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/office.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
            <p><a href="#">This is a link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
    </div>
    <div class = "container">
      <h1>Chips</h1>
        <div class="chip">
        <img src="images/yuna.jpg" alt="Contact Person">
        Jane Doe
       </div>
    </div>
    <p>
    <div class = "container">
      <h1>Forms</h1>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
            <input id="icon_prefix" type="text" class="validate">
            <label for="icon_prefix">First Name</label>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">phone</i>
            <input id="icon_telephone" type="tel" class="validate">
            <label for="icon_telephone">Telephone</label>
          </div>
        </div>
      </form>
    </div>
</div>
<p>
  <div class = "container">
    <h1>Switches</h1>
    <!-- Switch -->
    <div class="switch">
      <label>
        Off
        <input type="checkbox">
        <span class="lever"></span>
        On
      </label>
    </div>

    <!-- Disabled Switch -->
    <div class="switch">
      <label>
        Off
        <input disabled type="checkbox">
        <span class="lever"></span>
        On
      </label>
    </div>
</div>
<p>
  <div class = "container">
    <h1>Datepicker</h1>
     <input type="text" class="datepicker">
</div>
<p>
  <div class = "container">
    <h1>Words counter</h1>
    <div class="row">
   <form class="col s12">
     <div class="row">
       <div class="input-field col s6">
         <input id="input_text" type="text" data-length="10">
         <label for="input_text">Input text</label>
       </div>
     </div>
     <div class="row">
       <div class="input-field col s12">
         <textarea id="textarea1" class="materialize-textarea" data-length="120"></textarea>
         <label for="textarea1">Textarea</label>
       </div>
     </div>
   </form>
 </div>
</div>
<p>
  <div class = "container">
    <h1>Carousel touch</h1>
    <div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img src="https://lorempixel.com/800/400/food/1"></a>
    <a class="carousel-item" href="#two!"><img src="https://lorempixel.com/800/400/food/2"></a>
    <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/800/400/food/3"></a>
    <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/800/400/food/4"></a>
  </div>
</div>
<p>
  <div class = "container">
    <h1>Toasts</h1>
      <a class="btn" onclick="Materialize.toast('I am a toast', 4000)">Toast!</a>
</div>
<p>
  <div class = "container">
    <h1>Carousel touch</h1>
    <div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img src="https://lorempixel.com/800/400/food/1"></a>
    <a class="carousel-item" href="#two!"><img src="https://lorempixel.com/800/400/food/2"></a>
    <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/800/400/food/3"></a>
    <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/800/400/food/4"></a>
  </div>
</div>
<p>
  <div class = "container">
    <h1>Toasts</h1>
      <a class="btn" onclick="Materialize.toast('I am a toast', 4000)">Toast!</a>
</div>
<p>
  <div class = "container">
    <h1>Scrollspy</h1>
    <div class="row">
      <div class="col s12 m9 l10">
        <div id="introduction" class="section scrollspy">
          <h4> Einleitung </h4>
          <p>Bundesaußenminister einer Jamaikakoalition stößt in der türkischen Regierungspartei AKP auf große Skepsis. "Dann hätten wir möglicherweise verschenkte Jahre vor uns", sagte der AKP-Abgeordnete Mustafa Yeneroglu der Nachrichtenagentur dpa mit Blick auf die bilateralen Beziehungen. "Cem Özdemir wird in der Türkei nicht als Botschafter Deutschlands wahrgenommen, sondern als jemand, der türkische Innenpolitik betreiben möchte. </p>
        </div>

        <div id="structure" class="section scrollspy">
          <h4> Hauptteil </h4>
          <p>Bundesaußenminister einer Jamaikakoalition stößt in der türkischen Regierungspartei AKP auf große Skepsis. "Dann hätten wir möglicherweise verschenkte Jahre vor uns", sagte der AKP-Abgeordnete Mustafa Yeneroglu der Nachrichtenagentur dpa mit Blick auf die bilateralen Beziehungen. "Cem Özdemir wird in der Türkei nicht als Botschafter Deutschlands wahrgenommen, sondern als jemand, der türkische Innenpolitik betreiben möchte. </p>
        </div>

        <div id="initialization" class="section scrollspy">
          <h4> Fazit </h4>
          <p>Bundesaußenminister einer Jamaikakoalition stößt in der türkischen Regierungspartei AKP auf große Skepsis. "Dann hätten wir möglicherweise verschenkte Jahre vor uns", sagte der AKP-Abgeordnete Mustafa Yeneroglu der Nachrichtenagentur dpa mit Blick auf die bilateralen Beziehungen. "Cem Özdemir wird in der Türkei nicht als Botschafter Deutschlands wahrgenommen, sondern als jemand, der türkische Innenpolitik betreiben möchte. </p>
        </div>
      </div>
      <div class="col hide-on-small-only m3 l2">
        <ul class="section table-of-contents">
          <li><a href="#introduction">Einleitung</a></li>
          <li><a href="#structure">Hauptteil</a></li>
          <li><a href="#initialization">Fazit</a></li>
        </ul>
      </div>
      </div>
</div>
